*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ccc;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    height: 500px;
    background: #232;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin: 10px;
    gap: 20px;
}